<!-- filepath: app/views/lists/show.html.erb -->
<h1>Contacts in <%= @list.name %></h1>
<p><%= @list.description %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.full_name %></td>
      <td><%= contact.full_address %></td>
      <td>
        <%= link_to 'Edit', edit_list_contact_path(@list, contact), class: 'btn btn-secondary btn-sm' %>
        <%= link_to 'Delete', list_contact_path(@list, contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Contact', new_list_contact_path(@list), class: 'btn btn-success' %>
<%= link_to 'Back to Lists', lists_path, class: 'btn btn-primary' %>